* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.topPage {
    background-color: black;
    color: white;
    height: 30px;
    width: 100%;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoAdidas {
    height: 50px;
    width: 50px;
    margin: 2em;
}

.toggleimg {
    height: 25px;
    width: 25px;
}

.navThings {
    list-style-type: none;
    display: none;
   
}

.navThings {
    text-align: center;
    margin: 15px auto;
}


.togglecheck {
    position: absolute;
    top: 80px;
    right: 120px;
    cursor: pointer;
}

#toggle {
   display: none;
}

#toggle:checked + ul.navThings {
    display: block;
}

.navComponets {
    color: black;
    text-decoration: none;
    margin: 20px;
}

li {
    margin: 5px;
}


@media screen and (min-width: 768px) {


    .navBar{
        color: black;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 80px;
        width: 100%;
        align-items: center;
        
    }
    
    .navThings a:hover {
        color: gray;
    }
    
    .navThings {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    
    .toggleimg {
        display: none;
    }

    #toggle {
        display: none;
     }
     
     #toggle:checked + ul.navThings {
         display: flex;
     }
    
}