* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.topPage {
    background-color: black;
    color: white;
    height: 30px;
    width: 100vw;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoAdidas {
    height: 50px;
    width: 50px;
    margin: 2em;
}

.toggleimg {
    height: 25px;
    width: 25px;
}

.navThings {
    list-style-type: none;
    display: none;
}

.navThings {
    text-align: center;
}

    
.navThings a:hover {
    color: gray;
}

.togglecheck {
    position: absolute;
    top: 80px;
    right: 120px;
    cursor: pointer;
}

#toggle {
   display: none;
}

#toggle:checked + ul.navThings {
    display: block;
}

.navComponets {
    color: black;
    text-decoration: none;
    
}

li {
    margin: 5px;
}


.firstbox {
    background-image: url("./assets/ultraboost-background-2-copy-cut.jpg");
    background-size: cover;
}

.firstbox{
    width: 100vw;
    height: 450px;
}

.firstBoxBigText {
    font-size: 55px;
}

.firstBoxText {
    font-weight: 100;
    font-size: 15px;
}

.firstbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0.7em;
}

.firstBoxButton {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 120px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5%;
}

.secondBox {
    background-image: url("./assets/legins-background-2.jpg");
    background-size: cover;
}

.secondBox{
    width: 100%;
    height: 550px;
}

.secondBoxBigText {
    font-size: 55px;
    color: white;
}

.secondBoxText {
    color: white;
    font-weight: 100;
    font-size: 15px;
}

.secondBoxButton {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: black;
    font-weight: 200;
    font-size: 15px;
    width: 130px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5%;
}

.secondBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0.7em;
}


h3 {
    display: flex;
    padding: 0.6em;
}
    
.scroll {
    display: flex;
    width: 100%;
    overflow-x: scroll;
}

.ThirdBoxPic {
    width: 200px;
    height: 200px;
   
}

.textPic {
    padding: 0.6em;
}

.fourthBox {
    font-size: 20px;
    padding: 0.6em;
}

.productsBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0.5em;
    overflow-x: scroll;
}

 .products {
    padding: 0.5em;
    font-size: 15px;
    
 }
 
 a {
    text-decoration: none;
    color: black;
 }

.fifthBox {
    background-color: rgb(247, 242, 233);
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}

.fifthBoxBigText {
    font-size: 2.5em;
    padding: 12px;
}

p .fifthBoxText {
    font-weight: 100;
}

.fifthBoxText {
    padding: 18px;
    font-size: 18px;
    font-weight: 100;
}

footer {
    background-color: black;
    color: grey;
    font-size: 13px;
    font-weight:100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    padding: 10px;
}



@media screen and (min-width: 410px) and (max-width: 768px) {



    .topPage {
        background-color: black;
        color: white;
        height: 30px;
        width: 100vw;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .logoAdidas {
        height: 50px;
        width: 50px;
        margin: 2em;
    }
    
    .toggleimg {
        height: 25px;
        width: 25px;
    }
    
    .navThings {
        list-style-type: none;
        display: none;
        font-size: 20px;
    }
    
    .navThings {
        text-align: center;
    }
    
        
    .navThings a:hover {
        color: gray;
    }
    
    .togglecheck {
        position: absolute;
        top: 80px;
        right: 100px;
        cursor: pointer;
    }
    
    #toggle {
       display: none;
    }
    
    #toggle:checked + ul.navThings {
        display: block;
    }
    
    .navComponets {
        color: black;
        text-decoration: none;
        
    }
    
    li {
        margin: 5px;
    }
  

     .firstbox {
        background-image: url("./assets/ultraboost-background-2-copy.jpg");
        background-size: cover;
    }

    .firstBoxBigText {
        font-size: 65px;
    }

    .firstBoxText {
        font-size: 18px
    }

    .secondBoxBigText {
        font-size: 65px;
        color: white;
        
    }

    .secondBoxText {
        font-size: 18px;
    }

    .secondBox {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        align-content: flex-start;
        padding: 1.5em;
    }
    
    h3 {
        font-size: 20px;
        display: flex;
        padding: 1em;
    }
        
    .scroll {
        display: flex;
        height: 100%;
        width: 100%;
        height: 400px;
        padding: 1em;
        overflow-x: scroll;

    }

    
    .ThirdBoxPic {
        width: 300px;
        height: 300px;
       
    }
    
    .textPic {
        padding: 0.6em;
    }

    .fifthBox {
        background-color: rgb(247, 242, 233);
        padding: 0.5em;
        display: flex;
        flex-direction: column;
    }
    
    .fifthBoxBigText {
        font-size: 2.5em;
        padding: 12px;
    }
    
    div .fifthBoxText {
        font-weight: 100;
        
    }
    
    .fifthBoxText {
        padding: 18px;
        font-size: 16px;
        font-weight: 100;
    }
}


@media screen and (max-width: 410px) {


    .topPage {
        background-color: black;
        color: white;
        height: 30px;
        width: 100vw;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .logoAdidas {
        height: 50px;
        width: 50px;
        margin: 2em;
    }
    
    .toggleimg {
        height: 25px;
        width: 25px;
    }
    
    .navThings {
        list-style-type: none;
        display: none;
        font-size: 20px;
    }
    
    .navThings {
        text-align: center;
    }
    
        
    .navThings a:hover {
        color: gray;
    }
    
    .togglecheck {
        position: absolute;
        top: 80px;
        right: 65px;
        cursor: pointer;
    }
    
    #toggle {
       display: none;
    }
    
    #toggle:checked + ul.navThings {
        display: block;
    }
    
    .navComponets {
        color: black;
        text-decoration: none;
        
    }
    
    li {
        margin: 5px;
    }
  

     .firstbox {
        background-image: url("./assets/ultraboost-background-2-copy-cut.jpg");
        background-size: cover;
    }

    .firstBoxBigText {
        font-size: 50px;
    }

    .firstBoxText {
        font-size: 14px
    }

    .secondBoxBigText {
        font-size: 50px;
        color: white;
        
    }

    .secondBoxText {
        font-size: 14px;
    }

    .secondBox {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        padding: 1.5em;
    }
    
    h3 {
        font-size: 20px;
        display: flex;
        padding: 1em;
    }
        
    .scroll {
        display: flex;
        height: 100%;
        width: 100%;
        height: 400px;
        padding: 1em;
        overflow-x: scroll;

    }

    
    .ThirdBoxPic {
        width: 300px;
        height: 300px;
       
    }
    
    .textPic {
        padding: 0.6em;
    }

    .fifthBox {
        background-color: rgb(247, 242, 233);
        padding: 0.5em;
        display: flex;
        flex-direction: column;
    }
    
    .fifthBoxBigText {
        font-size: 35px;
        padding: 12px;
    }
    
    div .fifthBoxText {
        font-weight: 100;
    }
    
    .fifthBoxText {
        padding: 18px;
        font-weight: 100;
        font-size: 15px;
    }
}

