* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.topPage {
    background-color: black;
    color: white;
    height: 30px;
    width: 100%;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoAdidas {
    height: 50px;
    width: 50px;
    margin: 2em;
}

.toggleimg {
    height: 25px;
    width: 25px;
}

.navThings {
    list-style-type: none;
    display: none;
}

.navThings {
    text-align: center;
}

    
.navThings a:hover {
    color: gray;
}

.togglecheck {
    position: absolute;
    top: 80px;
    right: 120px;
    cursor: pointer;
}

#toggle {
   display: none;
}

#toggle:checked + ul.navThings {
    display: block;
}

.navComponets {
    color: black;
    text-decoration: none;
    
}

li {
    margin: 5px;
}


.firstbox {
    background-image: url("./assets/ultraboost-background-2-copy-cut.jpg");
    background-size: cover;
}

.firstbox{
    width: 100%;
    height: 450px;
}

.firstBoxBigText {
    font-size: 55px;
}

.firstBoxText {
    font-weight: 100;
    font-size: 15px;
}

.firstbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0.7em;
}

.firstBoxButton {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 120px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
}

.secondBox {
    background-image: url("./assets/legins-background-2.jpg");
    background-size: cover;
}

.secondBox{
    width: 100%;
    height: 550px;
}

.secondBoxBigText {
    font-size: 55px;
    color: white;
}

.secondBoxText {
    color: white;
    font-weight: 100;
    font-size: 15px;
}

.secondBoxButton {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: black;
    font-weight: lighter;
    font-size: 15px;
    width: 130px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
}

.secondBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0.7em;
}

.thirdBoxText {
    font-size: 20px;
    display: flex;
    padding: 0.6em;
}
    
.scroll {
    display: flex;
    width: 100%;
    overflow-x: scroll;
}

.ThirdBoxPic {
    width: 200px;
    height: 200px;
   
}

.textPic {
    padding: 0.6em;
}


@media screen and (min-width: 410px) and (max-width: 768px) {

    .topPage {
        background-color: black;
        color: white;
        height: 30px;
        width: 100%;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .logoAdidas {
        height: 50px;
        width: 50px;
        margin: 2em;
    }
    
    .toggleimg {
        height: 25px;
        width: 25px;
    }
    
    .navThings {
        list-style-type: none;
        display: none;
        font-size: 20px;
    }
    
    .navThings {
        text-align: center;
    }
    
        
    .navThings a:hover {
        color: gray;
    }
    
    .togglecheck {
        position: absolute;
        top: 80px;
        right: 120px;
        cursor: pointer;
    }
    
    #toggle {
       display: none;
    }
    
    #toggle:checked + ul.navThings {
        display: block;
    }
    
    .navComponets {
        color: black;
        text-decoration: none;
        
    }
    
    li {
        margin: 5px;
    }
  

     .firstbox {
        background-image: url("./assets/ultraboost-background-2-copy.jpg");
        background-size: cover;
    }

    .firstBoxBigText {
        font-size: 65px;
    }

    .firstBoxText {
        font-size: 18px
    }

    .secondBoxBigText {
        font-size: 65px;
        color: white;
        
    }

    .secondBoxText {
        font-size: 18px;
    }

    .secondBox {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        align-content: flex-start;
        padding: 1.5em;
    }

    .thirdBoxText {
        font-size: 15px;
        display: flex;
        padding: 0.6em;
    }
        
    .scroll {
        display: flex;
        overflow-x: scroll;
        height: 100%;
        width: 100%;
        justify-content: center;
    }
    
    .ThirdBoxPic {
        width: 200px;
        height: 200px;
       
    }
    
    .textPic {
        padding: 0.6em;
    }

    
}


@media screen and (min-width: 768px) {


    .navBar{
        color: black;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 80px;
        width: 100%;
        align-items: center;
        
    }

    
    .navThings {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    
    .toggleimg {
        display: none;
    }

    #toggle {
        display: none;
     }
     
     #toggle:checked + ul.navThings {
         display: flex;
     }

     .firstbox {
        background-image: url("./assets/ultraboost-background-2-copy.jpg");
        background-size: cover;
    }

    .firstBoxBigText {
        font-size: 75px;
    }

    .firstBoxText {
        font-size: 20px
    }

    .secondBoxBigText {
        font-size: 75px;
        color: white;
    }

    .secondBoxText {
        font-size: 20px;
    }

    .secondBox {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        align-content: flex-start;
        padding: 1.5em;
    }

    
    .thirdBox {
 
    display: grid;
    width: 100%;
    }

    .ThirdBoxPic {
    width: 100%;
    height: 100%;
    }

    .thirdBoxText {
        font-size: 25px;
        display: flex;
        padding: 1em;
    }
        
    .scroll {
        display: flex;
        width: 100%;
        overflow-x: scroll;
        height: 275px;
        justify-content: center;
        align-items: center;

    }
    
    .ThirdBoxPic {
        width: 235px;
        height: 235px;
       
    }
    
    .textPic {
        padding: 0.7em;
    }

    
    
}
